#chat-input {
          padding: 10px;
          display: flex;
          align-items: center;
}

.microphone-button {
          margin-left: 10px;
          cursor: pointer;
}

#response {
          text-align: left;
}

#microphoneButton {
          margin-left: 0px;
}